
a:hover {

    font-size: 18px;
}

.logo {
    margin-left: 30px;
    margin-top: 60px;
}

.contrect 
{
    /* border: 2px solid rgb(135, 160, 169); */
    width: 1200px;
    height: 1000px;
    
    
}

.nav-war :hover {

    font-size: 18px; }

.nav-war 
{

    display: flex;
    /* border: 3px solid yellow; */

    margin: 10px 10px 10px 10px;
    padding: 10x 10px 10px 10px ;
}


.box {
    /* border: 1px solid rgb(65, 227, 28); */
    box-shadow: 10px 10px 5px rgb(25, 11, 27);
    margin-left: 10px;
    text-align: right 2;
    text-align: center;
}

.box1 {

    /* border: 1px solid rgb(190, 20, 20); */
    box-shadow: 10px 10px 5px rgb(25, 11, 27);
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}
.box2 {
    /* border: 1px solid black; */
    box-shadow: 10px 10px 5px rgb(25, 11, 27);
    margin-right: 10px;
    text-align: center;
}

#log1 {
    background-color: rgba(206, 215, 216, 0.753);


}
#log2 {
    background-color: rgba(206, 215, 216, 0.753);
    
    
    }

#log3 {
        background-color: rgba(206, 215, 216, 0.753);
        
        
        }

        .top > h1 {
            margin-top: 70px;
        }

        .done {
            margin-top: 40px;
            margin-bottom: 70px;
        }

        .grow {
            color: blue;
            font-size: large;
        }